*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
.welcome-panel{
    width: 80%;
    height: 70px;
    margin: 20px auto;
    background-color: rgba(253, 186, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-size: 1.1rem;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.garages-continner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.garage-info{
    width: 100%;
    height: 60px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
}
.garage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    gap: 5px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.garage .bottom button{
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        display: flex;
        /* background-color: rgba(0, 0, 0, 0); */
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: .85rem;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        width: fit-content;
        height: 40px;
        text-decoration: none;
        color: black;
        font-weight: 500;
}
.garage .bottom button:disabled,
.garage .bottom button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.garage .bottom button:enabled:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.11);
        
}
.garage-gif{
    width: 280px;
    height: 169px;
}